
@font-face {
    font-family: euclid;
    src: url(recursos/fonts/euclid.ttf);
}

/* Arxiu d'estils */
body {
	background-color:rgba(32,33,36,1);
	padding-bottom: 81px;
	}

/* Paràgrafs */
h1	{
	color: white;
	font-family: 'Ubuntu', sans-serif;
	margin-left: 20px;
	}
h2	{
	color: white;
	font-family: 'Ubuntu', sans-serif;
	margin-left: 20px;
	}
h3	{
	color: white;
	font-family: 'Ubuntu', sans-serif;
	margin-left: 20px;
	}
h4	{
	color: white;
	font-family: 'Ubuntu', sans-serif;
	margin-left: 20px;
	}

li,p	{
	color: white;
	font-family: 'Ubuntu', sans-serif;
	margin-left: 20px;
	margin-right: 35px;
	}


/* Enllaços */
a	{
	color: #3fd4aa;
	font-family: 'Ubuntu', sans-serif;
	margin-left: 20px;
	text-decoration: none;
	}

a:hover, a:active {
	color: #d48c3f;
	text-decoration: underline;
	}

/* Divisors */
div {
	width: 85%;
	margin: auto;
	border: 1px solid white;
	background-color: #2B2A33;
	border-radius: 9px;
	}

.capçalera {
	width: 85%;
	margin: auto;
	margin-bottom: 1%;
	padding: 5px 0px 5px 0px;
	border: 1px solid white;
	background-color:rgba(43,42,51,1);
	border-radius: 9px;
	}

.central {
	width: 80%;
	margin: auto;
	padding: 0% 1% 0% 1%;
	border: 0px solid white;
	border-radius: 0px;
	}

/* Botons */
.btn {
	color: white;
	font-family: 'Ubuntu', sans-serif;
	font-size: 100%;
	border: none;
	background-color: inherit;
	padding: 10px 20px;
	cursor: pointer;
	display: inline-block;
}

/* Sobre el botó */
.btn:hover	{
	background: #454352;
	}

.menu	{
	color: white;
	}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}




/* EN PROVES */


